In [12]:
line_str=[]  
with open("carbon_nanotubes.csv","r") as cnano:
    next(cnano)
    print(cnano)
    for lines in cnano:
        print(lines)
        line_str.append(str(lines))
        break

<_io.TextIOWrapper name='carbon_nanotubes.csv' mode='r' encoding='cp1252'>
2;1;0,679005;0,701318;0,017033;0,721039;0,730232;0,017014

In [14]:
(line_str)

list

In [16]:
line_str[0].replace(";", ',')

'2,1,0,679005,0,701318,0,017033,0,721039,0,730232,0,017014\n'

In [164]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",database = "subrat",user="root", passwd="mysql",use_pure=True)

In [165]:
cursor = mydb.cursor()

In [60]:
query = "create table cnano_test_2 (Chiral_indice_n int(30),Chiral_indice_m int(30),Chiral_indice_new int(30),Initial_atomic_coordinate_u int(30),\
   Initial_atomic_coordinate_u_new int(30),Initial_atomic_coordinate_v int(30),Initial_atomic_coordinate_v_new int(30),\
   Initial_atomic_coordinate_w int(30),Initial_atomic_coordinate_w_new int(30),Calculated_atomic_coordinates_u_1 int(30),\
   Calculated_atomic_coordinates_v_1 int(30),Calculated_atomic_coordinates_v_1_new int(30),Calculated_atomic_coordinates_w_1 int(30),\
   Calculated_atomic_coordinates_w_1_new int(30))"

In [82]:
#cursor.execute(query)

In [166]:

line_str=[]  
line_str_split_version=[]
with open("carbon_nanotubes.csv","r") as cnano:
    next(cnano)
    print(cnano)
    for lines in cnano:
        line_str_replace_version = str(lines).replace(";",",")
        print(line_str_replace_version)
        line_str_replace_slash_n = str(str(line_str_replace_version).replace("\n",""))
        print(line_str_replace_slash_n)
        line_str_split_version = line_str_replace_slash_n.split(",")
        cur.execute('insert into cnano_test values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);',line_str_split_version)
        print(line_str_split_version)
        break
    mydb.commit()

<_io.TextIOWrapper name='carbon_nanotubes.csv' mode='r' encoding='cp1252'>
2,1,0,679005,0,701318,0,017033,0,721039,0,730232,0,017014

2,1,0,679005,0,701318,0,017033,0,721039,0,730232,0,017014

OperationalError: 2055: Lost connection to MySQL server at 'localhost:3306', system error: 10038 An operation was attempted on something that is not a socket

In [79]:
len(line_str_split_version)

14

In [85]:
line_str_split_version

['2',
 '1',
 '0',
 '679005',
 '0',
 '701318',
 '0',
 '017033',
 '0',
 '721039',
 '0',
 '730232',
 '0',
 '017014']

In [76]:
query = "SELECT count(*)FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'cnano_test_2'"

In [77]:
cursor.execute(query)

In [78]:
print(cursor.fetchall())

[(14,)]

In [89]:
#query = "insert into cnano_test_2 values(line_str_split_version)"
#cursor.execute(query)
for k in line_str_split_version:
    print (k)

2
1
0
679005
0
701318
0
017033
0
721039
0
730232
0
017014

In [88]:
for k in line_str_split_version:
    query = "insert into cnano_test_2 values(values)"
    cursor.execute('INSERT INTO cnano_test_2 values ({values})'.format(values=(k)))

DataError: 1136 (21S01): Column count doesn't match value count at row 1

In [90]:
mydb.close()

In [91]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",database = "subrat",user="root", passwd="mysql",use_pure=True)

In [108]:
#query = "create table my_test (x1 int(20), x2 int(20))"

cur = mydb.cursor()

#cur.execute(query)
query_1 = "insert into my_test values(90,34)"
cur.execute(query_1)
mydb.commit()

In [104]:
mydb.is_connected()

True

In [127]:
k = ['99','90']
cur = mydb.cursor()
#qu = "insert into my_test values(k)"
#cur.execute(k)
#mydb.commit()
mydb.is_connected()
    #query = "insert into cnano_test_2 values(values)"

#print(a)
#for a in k:
##    cur.execute('INSERT INTO my_test values(({values}))'.format(values=(a)))
#    mydb.commit()

True

In [130]:
qu = " insert into my_test {values}.format()"

In [131]:
cur.execute(qu)
mydb.commit()

In [132]:
k.format()

AttributeError: 'list' object has no attribute 'format'

In [162]:
k = ['234','45']
c= ['x1','x2']

h = dict(zip(c,k))
print(h)         
cur.execute("INSERT into my_test VALUES  (%s,%s);",k)
mydb.commit()

{'x1': '234', 'x2': '45'}

In [152]:
h.keys()

dict_keys(['x1', 'x2'])

In [167]:
mydb.close()

In [9]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",database = "subrat",user="root", passwd="mysql",use_pure=True)

query_table = "create table Final_test (Chiral_indice_n int(30),Chiral_indice_m int(30),Chiral_indice_new int(30),Initial_atomic_coordinate_u int(30),\
   Initial_atomic_coordinate_u_new int(30),Initial_atomic_coordinate_v int(30),Initial_atomic_coordinate_v_new int(30),\
   Initial_atomic_coordinate_w int(30),Initial_atomic_coordinate_w_new int(30),Calculated_atomic_coordinates_u_1 int(30),\
   Calculated_atomic_coordinates_v_1 int(30),Calculated_atomic_coordinates_v_1_new int(30),Calculated_atomic_coordinates_w_1 int(30),\
   Calculated_atomic_coordinates_w_1_new int(30))" 

cursor = mydb.cursor()

cursor.execute(query_table)



line_str=[]  
line_str_split_version=[]
with open("carbon_nanotubes.csv","r") as cnano:
    next(cnano)
    for lines in cnano:
        line_str_replace_version = str(lines).replace(";",",")
        print(line_str_replace_version)
        #line_str_replace_slash_n = str(str(line_str_replace_version).replace("\n",""))
        #print(line_str_replace_slash_n)
        line_str_split_version = line_str_replace_version.split(",")
        cursor.execute('INSERT into Final_test VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);',line_str_split_version)
        print(line_str_split_version)
        break
    mydb.commit()

ProgrammingError: 1050 (42S01): Table 'final_test' already exists

In [7]:

line_str=[]  
line_str_split_version=[]
cursor = mydb.cursor(buffered=True)
with open("carbon_nanotubes.csv","r") as cnano:
    next(cnano)
    for lines in cnano:
        line_str_replace_version = str(lines).replace(";",",")
        print(line_str_replace_version)
        line_str_replace_slash_n = str(str(line_str_replace_version).replace("\n",""))
        print(line_str_replace_slash_n)
        line_str_split_version = str(line_str_replace_slash_n.split(","))
        print(line_str_replace_slash_n)
        cursor.execute('INSERT into final_test VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);',line_str_replace_slash_n)
        #print(line_str_split_version)
        break

    mydb.commit()

2,1,0,679005,0,701318,0,017033,0,721039,0,730232,0,017014

2,1,0,679005,0,701318,0,017033,0,721039,0,730232,0,017014
2,1,0,679005,0,701318,0,017033,0,721039,0,730232,0,017014

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)' at line 1

In [176]:
mydb.is_connected()

True

In [11]:
mydb.close()

In [12]:
import csv

In [33]:
with open("carbon_nanotubes.csv") as f:
    #next(f)
    reader = csv.reader(f,delimiter =';')
    
    for row in reader:
        print (row)
        break

['Chiral indice n', 'Chiral indice m', 'Initial atomic coordinate u', 'Initial atomic coordinate v', 'Initial atomic coordinate w', "Calculated atomic coordinates u'", "Calculated atomic coordinates v'", "Calculated atomic coordinates w'"]

In [25]:
s = ''

my_test = s.join(row)

In [31]:
my_test

'2:1:0,679005:0,701318:0,017033:0,721039:0,730232:0,017014'

In [29]:
type(str(row))

str

In [32]:
tuple(row)

('2',
 '1',
 '0,679005',
 '0,701318',
 '0,017033',
 '0,721039',
 '0,730232',
 '0,017014')

In [53]:
import mysql.connector as connection
mydb = connection.connect(host="localhost",database = "subrat",user="root", passwd="mysql",use_pure=True)

query_table = "create table 18_table_3 (Chiral_indice_n varchar(30),Chiral_indice_m varchar(30),Initial_atomic_coordinate_u varchar(30),\
   Initial_atomic_coordinate_v varchar(30),\
   Initial_atomic_coordinate_w varchar(30),Calculated_atomic_coordinates_u_1 varchar(30),\
   Calculated_atomic_coordinates_v_1 varchar(30),Calculated_atomic_coordinates_w_1 varchar(30))" 

cursor = mydb.cursor()

cursor.execute(query_table)

In [54]:
with open("carbon_nanotubes.csv") as f:
    next(f)
    reader = csv.reader(f,delimiter =';')
    
    for row in reader:
        k = tuple(row)
        cursor.execute('INSERT into 18_table_3 VALUES {k};'.format(k = tuple(k)))
        #print("the values{k}".format(k = tuple(k)))
        #break
mydb.commit()

In [12]:
import mysql.connector as connection
import logging as lg
import os
import csv

class DbConnect:
    #Import lib mysql

    
    def __init__(self,host_1,database_1,user_1,password_1,log_file_name):
        #Taking the required parameters for DB connection
        self.host_1 = host_1
        self.database_1= database_1
        self.user_1 = user_1
        self.password_1 = password_1
        self.logfile = log_file_name
        #get current working dir for log file : logfile generates in CWD
        cwd = os.getcwd()
        print("cwdddddd",cwd)
        file = cwd+'\\'+str(self.logfile)+'.log'
        print(file)
        #self.lg = lg.basicConfig(filename= self.logfile+'.log' , level = lg.INFO , format  = '%(asctime)s %(message)s')
        
    def connect(self):
        try:
            #connect function
            mydb = connection.connect(host= self.host_1,database = self.database_1,user=self.user_1, passwd= self.password_1,use_pure=True)
            #self.lg.info("Connection SUCCESS withh DATABASE : {k}".format(k = str(self.database_1)))
            return mydb
        except Exception as e:
            pass
            #self.lg.info(e)
        #finally:
           # print("kkkkkkkkkkkkkkkkkk",self.database_1)
            #self.lg.info("DB CONNECT ATTEMPT : DATABASE NAME {k}".format(k =str(self.database_1)))
            
    def create_table(self):
        
        #create cursor 
        cursor = self.connect.mydb.cursor
        # create data base
        #Asking user for New table name
        table_name = str(input('New table name please')) 
        
        query_table = "create table {Table_name} (Chiral_indice_n varchar(30),Chiral_indice_m varchar(30),Initial_atomic_coordinate_u varchar(30),\
                   Initial_atomic_coordinate_v varchar(30),\
                   Initial_atomic_coordinate_w varchar(30),Calculated_atomic_coordinates_u_1 varchar(30),\
                   Calculated_atomic_coordinates_v_1 varchar(30),Calculated_atomic_coordinates_w_1 varchar(30))".format(Table_name = table_name)
        
        try:
            cursor.execute(query_table)
        except Exception as e:
            pass
            #self.lg.info(e)
        #finally:
           # pass
            #self.lg.info("TABLE CREATION ATTEMPT name{name}".format(name = table_name))
            
    def write_to_database(self):
        
        csv_name = str(input("please provide name of the CSV to be copied to DATABASE : put CSV in CWD"))
        
        try:
            with open(csv_name) as f:
                next(f)
                reader = csv.reader(f,delimiter =';')
    
            for row in reader:
                k = tuple(row)
                cursor.execute('INSERT into 18_table_3 VALUES {k};'.format(k = tuple(k)))
    
            self.mydb.commit()
        except Exception as e:
            pass
            #self.lg.info(e)
            
        #finally:
            #pass
            #self.mydb.close()
            
                        
        
    def __str__(self):
        return "Host_name {a},data_base_name {b},user_name {c},password_given {d}".format(a = self.host_1, b = self.database_1, c= self.user_1,d = self.password_1);

In [13]:
mydb = DbConnect("localhost","subrat","root","mysql","LOGFILE_DB")
mydb.connect()
mydb.create_table()

cwdddddd C:\F_drive_vartual\Ineuron_Pratice_notebook
C:\F_drive_vartual\Ineuron_Pratice_notebook\LOGFILE_DB.log

AttributeError: 'function' object has no attribute 'mydb'

In [6]:
database_1 = "tets"
print("DB CONNECT ATTEMPT : DATABASE NAME {k}".format(k =str(database_1)))

DB CONNECT ATTEMPT : DATABASE NAME tets

In [28]:
import logging as lg

lg.basicConfig(filename=  r'C:\F_drive_vartual\Ineuron_Pratice_notebook\LOGFILE_DB.log' , level = lg.INFO , format  = '%(asctime)s %(message)s')

lg.info('test')

# import logging
file= 'test'
logging.basicConfig(filename=file+'.log',level = logging.INFO)
logging.debug("this is for debugging")
logging.info("this is info log")
logging.warning("this is my warning log")
logging.error("this is my error log")
logging.exception("this is my exception log")
logging.critical("this is my critical log ")
logging.shutdown()

In [ ]:
#WORKING FINE

In [4]:
import mysql.connector as connection
import logging as lg
import os
import csv

class DbConnect:
    #Import lib mysql

    
    def __init__(self,host_1,database_1,user_1,password_1,log_file_name):
        #Taking the required parameters for DB connection
        self.host_1 = host_1
        self.database_1= database_1
        self.user_1 = user_1
        self.password_1 = password_1
        self.logfile = log_file_name
        #get current working dir for log file : logfile generates in CWD
        cwd = os.getcwd()
        #print("cwdddddd",cwd)
        #file = cwd+'\\'+str(self.logfile)+'.log'
        #print(file)
        lg.basicConfig(filename= self.logfile+'.log' , level = lg.INFO , format  = '%(asctime)s %(message)s')
        
    def connect(self):
        try:
            #connect function
            mydb = connection.connect(host= self.host_1,user=self.user_1, passwd= self.password_1,use_pure=True)
            lg.info("Connection SUCCESS withh DATABASE : {k}".format(k = str(self.database_1)))
            return mydb
        except Exception as e:
            mydb.close()
            #print("am in exception connect",e)
            lg.info("some exception during conncet",e)
        finally:
            lg.info("DB CONNECT ATTEMPT : DATABASE NAME {k}".format(k =str(self.database_1)))
            
    def create_table(self,mydb_object_from_connect):
        
        #create cursor 
        cursor = mydb_object_from_connect.cursor()
        # create data base
        try:
            cursor.execute("create database {}".format(self.database_1))
        except Exception as e:
            print(e)
        #Asking user for New table name
        table_name = str(input('New table name please :')) 
        
        query_table = "create table {database}.{Table_name} (Chiral_indice_n varchar(30),Chiral_indice_m varchar(30),Initial_atomic_coordinate_u varchar(30),\
                   Initial_atomic_coordinate_v varchar(30),\
                   Initial_atomic_coordinate_w varchar(30),Calculated_atomic_coordinates_u_1 varchar(30),\
                   Calculated_atomic_coordinates_v_1 varchar(30),Calculated_atomic_coordinates_w_1 varchar(30))".format(database = self.database_1,Table_name = table_name)
        
        try:
            cursor.execute(query_table)
            lg.info("Table created : SUCCESS")
            return table_name
        except Exception as e:
            self.lg.info("Table Creation issue :",e)   
            return table_name
 
        finally:
            lg.info("TABLE CREATION ATTEMPT name{name}".format(name = table_name))

    def write_to_database(self,mydb_object_from_connect,table_name):
        #create cursor 
        cursor = mydb_object_from_connect.cursor()
        # create data base   
        csv_name = str(input("please provide name of the CSV to be copied to DATABASE : put CSV in CWD"))
        
        try:
            with open(csv_name) as f:
                next(f)
                reader = csv.reader(f,delimiter =';')
    
                for row in reader:
                    k = tuple(row)
                    cursor.execute('INSERT into {database}.{table_name} VALUES {k};'.format(database = self.database_1,table_name = table_name,k = tuple(k)))
    
            mydb_object_from_connect.commit()
            lg.info("WRIRE : DATA : SUCCESS")
        except Exception as e:
            print("in write:",e)
            lg.info("WRITE ISSUE :",e)           
        finally:
            mydb_object_from_connect.close()
            lg.shutdown()
            
                        
        
    def __str__(self):
        return "Host_name {a},data_base_name {b},user_name {c},password_given {d}".format(a = self.host_1, b = self.database_1, c= self.user_1,d = self.password_1);

In [5]:
mydb = DbConnect("localhost","subrat4777_TEST","root","mysql","LOGFILE_DB")
mydb_connect_object = mydb.connect()
table_object= mydb.create_table(mydb_connect_object)

1007 (HY000): Can't create database 'subrat4777_test'; database exists
New table name please :jjjj

In [6]:
mydb.write_to_database(mydb_connect_object,table_object)

please provide name of the CSV to be copied to DATABASE : put CSV in CWDcarbon_nanotubes.csv

In [53]:
csv_name = str(input("please provide name of the CSV to be copied to DATABASE"))
        
with open(csv_name) as f:
    next(f)
    reader = csv.reader(f,delimiter =';')
    print(reader[0])

please provide name of the CSV to be copied to DATABASEcarbon_nanotubes.csv

TypeError: '_csv.reader' object is not subscriptable

In [50]:
os.getcwd()

'C:\\F_drive_vartual\\Ineuron_Pratice_notebook'

##LOGGING TESTING

In [17]:
import mysql.connector as connection
import logging as lg
import os
import csv

class DbConnect:
    """
        connect function : It is responsible for connection with HOST as per user inputs
        return : connection object

        create_table function : It is responsible for creating Databse and TABLE 
        Argument : it takes connection object from connect function
        It would ask user for TABLE NAME entry
        return : table_name
        
        write_to_database function: It is responsible for copying the mentioned CSV to database
        argument 1 : connection object from connect function
        argument 2 : table name from create_table name
        return :none

    """    
    def __init__(self,host_1,database_1,user_1,password_1,log_file_name):
        #Taking the required parameters for DB connection
        self.host_1 = host_1
        self.database_1= database_1
        self.user_1 = user_1
        self.password_1 = password_1
        self.logfile = log_file_name
        lg.basicConfig(filename= self.logfile+'.log' , level = lg.INFO , format  = '%(asctime)s %(message)s')
        
    def connect(self):
        try:
            #connect function
            mydb = connection.connect(host= self.host_1,user=self.user_1, passwd= self.password_1,use_pure=True)
            lg.info("Connection SUCCESS with DATABASE : {k}".format(k = str(self.database_1)))
            return mydb
        except Exception as e:
            lg.info("DATABASE:",e)
            return mydb
            
    def create_table(self,mydb_object_from_connect):
        
        #create cursor 
        cursor = mydb_object_from_connect.cursor()
        try:
            # create data base
            cursor.execute("create database {}".format(self.database_1))
        except Exception as e:
            lg.info(e)
        
        table_name = str(input('New table name please :')) 
        
        query_table = "create table {database}.{Table_name} (Chiral_indice_n varchar(30),Chiral_indice_m varchar(30),Initial_atomic_coordinate_u varchar(30),\
                   Initial_atomic_coordinate_v varchar(30),\
                   Initial_atomic_coordinate_w varchar(30),Calculated_atomic_coordinates_u_1 varchar(30),\
                   Calculated_atomic_coordinates_v_1 varchar(30),Calculated_atomic_coordinates_w_1 varchar(30))".format(database = self.database_1,Table_name = table_name)
        try:
            cursor.execute(query_table)        
            lg.info(" Table created")
            return table_name
        except Exception as e:
            lg.info(e)
            return table_name

    def write_to_database(self,mydb_object_from_connect,table_name):
        #create cursor 
        cursor = mydb_object_from_connect.cursor()
        # create data base   
        csv_name = str(input("please provide name of the CSV to be copied to DATABASE :"))
        
        try:
            with open(csv_name) as f:
                next(f)
                reader = csv.reader(f,delimiter =';')
    
                for row in reader:
                    k = tuple(row)
                    cursor.execute('INSERT into {database}.{table_name} VALUES {k};'.format(database = self.database_1,table_name = table_name,k = tuple(k)))
    
            mydb_object_from_connect.commit()
        except Exception as e:
            print("Some issue in write:",e)
            close(f)
            
                        
        
    def __str__(self):
        return "Host_name {a},data_base_name {b},user_name {c},password_given {d}".format(a = self.host_1, b = self.database_1, c= self.user_1,d = self.password_1);

In [18]:
mydb = DbConnect("localhost","subrat4777_test","root","mysql","LOGFILE_DB")
mydb_connection_object = mydb.connect()
Table_name = mydb.create_table(mydb_connection_object)
mydb.write_to_database(mydb_connection_object,Table_name)

New table name please :TEST
please provide name of the CSV to be copied to DATABASE :carbon_nanotubes.csv

In [19]:
print(mydb)

Host_name localhost,data_base_name subrat4777_test,user_name root,password_given mysql